<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Busar Película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar animated
    placeholder="Buscarpelícula"
    debounce="700"
    [value]="textoBuscar"
    (ionChange)="buscar($event)">
  </ion-searchbar>
</ion-toolbar>

<ion-content >

  <ion-grid *ngIf="buscando">
    <ion-row>
      <ion-col text-center>
        <ion-spinner style="margin-left: 45%" name="crescent"> </ion-spinner>
      </ion-col>
    </ion-row>  
  </ion-grid>

  <ion-list *ngIf="peliculas.length === 0">
    <ion-list-header>
      <ion-label> Ideas </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas">
      <ion-label (click)="textoBuscar=idea"
        color="primary"> 
        {{idea}} 
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"
        *ngFor="let pelicula of peliculas">
        <ion-card
          (click)="verDetalle(pelicula.id)">
          <img class="card-img" 
            [src]="pelicula.poster_path | imagen"/>
          <ion-card-header>
            <ion-card-subtitle>
              {{pelicula.release_date}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-title-content">
              <h2 class="card-title">{{pelicula.title | slice : 0 : 55}}</h2>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>

</ion-content>
