

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-backdrop [peliculas]="peliculasRecientes"> </app-slideshow-backdrop>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-poster [peliculas]="peliculasRecientes"> </app-slideshow-poster>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-pares 
    [peliculas]="populares"
    (cargarMasPeliculas)="cargarMasPeliculas()"> </app-slideshow-pares>

</ion-content>
