

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let peliculas of peliculasPorGenero | keyvalue">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{peliculas.key}}
        </ion-col>
      </ion-row>
      <app-slideshow-poster 
        (recargarFavoritos)="recargarFavoritos()"
        [peliculas]="peliculasPorGenero[peliculas.key]"> </app-slideshow-poster>
    </ion-grid>
  </div>
</ion-content>
